<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="uz.boxodir.a4photos1wordgame" >
    <uses-permission android:name="android.permission.VIBRATE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/splash_image"
        android:label="@string/app_name"
        android:roundIcon="@drawable/splash_image"
        android:supportsRtl="true"
        android:theme="@style/Theme.4Photos1WordGame"
        tools:targetApi="31" >
        <activity
            android:name="uz.boxodir.a4photos1wordgame.screen.InfoActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="uz.boxodir.a4photos1wordgame.screen.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="uz.boxodir.a4photos1wordgame.screen.GameActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="uz.boxodir.a4photos1wordgame.screen.SplashActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>